$primary-color: #fbcb05;
$primary-text-color: #000;
$primary-hover-color: #ffdc62;

$footer-bg: #f5f5f5;
$footer-border: #e3e3e3;

$default-font: 'Open Sans';
$menu-font: 'HelveticaNeue-CondensedBold', sans-serif;
$yellow :#f5b442;
$black:#050608;
$lightgrey:#f5f5f5;
$darkgrey:#4e4e4e;
$grey:#9aa2ad;
$border-grey:#DDD;
$img_path: '../assets/images/';

@font-face {
  font-family: 'Helvethaica';
  src: url('../assets/fonts/dbhelvethaicax-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/dbhelvethaicax-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/dbhelvethaicax-webfont.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/dbhelvethaicax-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../assets/fonts/dbhelvethaicax-webfont.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Helvethaica-light';
  src: url('../assets/fonts/dbhelvethaicaxli-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/dbhelvethaicaxli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/dbhelvethaicaxli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/dbhelvethaicaxli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../assets/fonts/dbhelvethaicaxli-webfont.ttf')  format('truetype') /* Safari, Android, iOS */
}
