#contactus{
  flex: 1 1 auto;
  padding-top: 20px;

  #breadcrumb{
    border: 0;
  }

  #store-map{
    background: #EEE;
    pointer-events: none;
  }

  #contact-info{
    margin-top: 40px;
    margin-bottom: 20px;

    > div {
      margin-bottom: 20px;

      .headline {
        overflow: hidden;
        display: flex;
        align-items: center;
        font-size: 24px;
        text-transform: uppercase;
        color: $primary-color;

        i {
          float: left;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 1px solid $primary-color;
          width: 42px;
          height: 42px;
          margin-right: 10px;
          font-size: 20px;
        }
      }

      .content {
        margin-top: 10px;
      }
    }
  }

  #contact-form{
    margin-bottom: 40px;

    .headline{
      font-size: 20px;
      color: $primary-color;
      text-transform: uppercase;
    }

    .info{
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .option{
      margin-top: 20px;

      .btn{
        background: $primary-color;
        color: #FFF;
        font-size: 12px;
        padding: 10px 30px;
      }
    }
  }
}
